{% extends 'base.html.twig' %}

{% block body %}
    <div class="projects">
        {% for project in projects %}
            <div class="col-md-4">
                <a href="{{ path('show_project', {'name': project.name }) }}" class="project">
                    <div class="project-heading">
                        <span class="elipse"></span>
                        <h3>{{ project.name }}</h3>
                    </div>
                    <div class="project-details">
                        <div class="row">
                            <small class="created-at col-md-6">
                                <strong>Created at: </strong>{{ project.createdAt|date('d-m-Y') }}
                            </small>

                            <small class="deadline col-md-6">
                                <strong>Deadline: </strong>{{ project.deadline|date('d-m-Y') }}
                            </small>
                        </div>
                    </div>
                    <div class="project-description">
                        <p>
                            {{ project.description }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.projects').masonry();
    </script>
{% endblock %}